body{
    background-color: blueviolet;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    justify-content: center;
}

.container-grid{
    overflow: hidden;
    box-shadow:var(--clr-gray-light);
    background: -webkit-linear-gradient(45deg, #434343, #000000);
    background: linear-gradient(45deg, #434343, #000000);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
}

.btn-new {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color:#05386b;
    outline: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .btn-new:hover{
      background-color:crimson;
  }

  a{
      text-decoration: none;
  }

  h1{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color:white;
      font-size:24px;
      font-weight:500;
      letter-spacing: 1;
  }


  .back-btn ,.edit-btn{
    width: 150px;
    border: none;
    border-radius:10px;
    font-size: 0.5rem;
    font-size:14px;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color:#05386b;
    outline: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .back-btn:hover,.edit-btn:hover{
      background-color:crimson;
  }

  .text-edit{
    width:200px;
    height:20px;
    border-radius: 0.5rem;
    position: relative;
    margin: 0.5rem;
    border:none;
    outline:none;
}

h3,a,span,li{
    color: white;
}

.ecd,.create{
    width: 150px;
    border: none;
    border-radius:10px;
    font-size: 0.5rem;
    font-size:14px;
    font-weight: bold;
    color: white;
    padding: 0.6rem;
    background-color:#05386b;
    outline: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .ecd:hover,.create:hover{
      background-color:crimson;
  }

  
